html{font-family: 'Roboto Mono', monospace;}
.ul_top_menu li{
    display: inline-block;
    margin-right: 45px;
    float: left;
    
}
li{
 list-style: none;
}
a{
    text-decoration: none;
}
.ul_top_menu> li > a{
    color: black;
}
body{
    display: block;
    margin:0;
    padding: 0;
    
}
header{
    width:100%;
    height: auto;
    display: block;
    background: #eee;
    
}
.container{
    display: block;
    width:880px;
    height: 436px;
    margin: 0 auto;
    padding-top:27px;
    position: relative;
}
h1{
    width:250px;
    height: auto;
    margin-top: 0;
}
.ul_top_menu{
    display: block;
    float: left;
   width:560px;
     padding-left: 0px;
    margin-left:180px;
}
.logo{
    float: left;
    width:140px;
    height: 60px;
}
.ul_slider{
    width:1014px;
    height: 231px;
    overflow: hidden;
    right: 0;
    padding: 0;
}
.slider{
    width:338px;
    overflow: hidden;
}
.ul_slider li{
    display: block;
    float: left;;
    
}
.ul_top_menu li:last-child{
    margin-right: 0;
    
}