/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media (min-width: 1920px) {
    .header__wrapper{
        margin-left: 60px;
    }
    .wrapper{
        margin: 0 auto;
        margin-left: 60px;

    }
    .main__wrapper {
        width: 1490px;
        margin-left: 215px;
    }
    .information > .wrapper{
        margin-left: 0;
    }
}
@media (min-width: 1600px) and (max-width:1919.98px) {
    :root {
        --wrpapper:1380px
    }

    .wrapper {
        min-width: var(--wrpapper);
        margin-left: 110px;
        margin-right: 110px;
    }
    .header__wrapper{
        justify-content: flex-start;
    }
    .main__wrapper{
        width: 1440px;
    }
    .information > .wrapper{
        margin-left: 0;
    }
    .header__logo{
        width: 158px;
        height: 42px;
        margin-right: 82px;
        margin-top: 20px;
        margin-bottom: 24px;
    }
    .header__logo img{
        display: block;
        min-width: 158px;
        height: 42px;
    }

    .header__city-title{
        font-size: 14px;
    }

    .nav {
        margin-left: 150px;
    }
    .nav__list{
        margin-right: 125px;
    }
    .nav__item {
        display: block;
        list-style: none;
        min-width: 61px;
    }
    .nav__item-link {
        font-size: 14px;
        margin-right: 40px;
    }

    .header__phone{
        margin-right: 25px;
        font-size: 16px;
    }
    .header__callback{
        margin-right: 39px;
        min-width: 111px;
        color: #3A3A3A;
        font-size: 14px;
    }
    .breadcrumbs{
        margin-top: 35px;
        margin-bottom: 148px;
    }
    .breadcrumbs__item:last-child{
        display: none;
    }

    .product {
        margin-bottom: 140px;
    }
    .product__price_old {
        font-size: 16px;
    }
    .price {
        font-size: 20px;
    }

    .product__slider{
        margin-right: 95px;
    }

    .product__description {
        margin-top: 30px;
        color: #686868;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;

    }
    .product__tags{
        margin-top: 45px;
    }
    .product__price{
        font-size: 20px;
    }
    .product__price_old{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 32px;
    }
    .product__processing-method{
        display: none;
    }
    .unit{
        display: none;
    }

    .product__counter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 27px;
    }
    .product__submit{
        margin-top: 30px;
    }

    .information__body {
        margin-top: 55px;
    }
    .information__body-title {
        margin-bottom: 25px;
        font-size: 16px;
    }
    .productivity__list-title{
        text-transform: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.15px;
        text-align: left;

    }
    .information__body-description > p{
        line-height: 190%;
    }
    .information__body-description{
        width: 800px;
    }
    .productivity__list > .productivity__list-item, .regions__list > .productivity__regions-item{
        font-size: 12px;
        line-height: 230%;
    }

    footer {
        margin-top: 180px;
    }
    .footer__info{
        margin-right: 244px;
    }
    .footer__discription{
        width: 207px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        align-self: flex-start;

    }
    .footer__logo-link {
        margin-right: 90.5px;
    }
    .footer__logo-img{
        width: 147px;
    }
    .footer__mail-description{
        width: 208px;
        text-align: justify;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;

    }
    .information__mail-label{
        top: 12px;
    }
    .footer__mail-field{
        line-height: 42px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer__mail-input {
        width: 208px !important;
        height: 44px;
        margin-left: 35px;
    }
    .footer__mail-button {
        margin-left: 52px;
        min-width: 187px !important;
        height: 53px;
        line-height: 0;
    }
    .footer__top{
        margin-bottom: 35px;
    }
    .footer__bottom > *{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

    }
    footer{
        padding-top: 52px;
    }
}

@media (min-width: 1200px) and (max-width:1599.98px) {
    :root {
        --wrpapper:1076px
    }
    .header > .wrapper{
        margin: 0;
    }
    .wrapper {
        min-width: var(--wrpapper);
        margin-left: 62px;
        margin-right: 62px;
    }
    .main__wrapper{
        width: var(--wrpapper);
    }
    .information > .wrapper{
        margin-left: 0;
    }

    .header__logo{
        width: 123px;
        height: 32px;
        margin-right: 63px;
        margin-top: 14px;
        margin-bottom: 18px;
    }
    .header__logo > a {
        height: 32px;
    }
    .header__logo img{
        display: block;
        min-width: 123px;
        height: 32px;
    }

    .header__city-title{
        font-size: 12px;
        margin-left: 13px;
    }

    .nav {
        margin-left: 109px;
    }
    .nav__list{
        margin-right: 50px;
    }
    .nav__item {
        display: block;
        list-style: none;
    }
    .nav__item-link {
        font-size: 12px;
        margin-right: 30px !important;
    }
    .header__cart{
        width: 18px;
        height: 18px;
    }
    .header__phone{
        margin-right: 20px;
        min-width: 107px;
        font-size: 14px;
    }
    .header__callback{
        margin-right: 0;
        min-width: 95px;

    }
    .callback__text{
        width: fit-content;
        margin-right: 38px;
        color: #3A3A3A;
        font-size: 12px;
    }
    .breadcrumbs{
        margin-top: 30px;
        margin-bottom: 135px;
    }
    .breadcrumbs__item:last-child{
        display: none;
    }
    .breadcrumbs__item{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
    }

    .product {
        margin-bottom: 120px;
    }

    .product__price {
        font-size: 20px;
    }
    .product__price_old {
        font-size: 16px;
    }

    .product__slider{
        width: 518px;
        height: 377px;
    }
    .product__main-slide{
        width: 518px;
    }
    .product__main-slide > img{
        display: block;
        width: 100%;
    }
    .product__slides {
        margin-top: 25px;
    }
    .product__slide-mini {
        width: 110px;
        height: 71px;
    }
    .product__slider{
        margin-right: 41px;
    }
    .product__description {
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 25px;
        color: #686868;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 517px;
    }
    .product__description > br{
        display: none;
    }
    .product__tags{
        margin-top: 30px;
    }
    .product__tags-title {
        font-size: 14px;
    }
    .product__processing-method{
        display: none;
    }
    .unit{
        display: none;
    }
    .product__counter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 27px;
    }
    .product__prices {
        margin-top: 25px;
    }
    .product__submit{
        margin-top: 30px;
    }
    .product__quantity-block{
        width: 114px;
    }
    .btn{
        width: 177px;
        height: 53px;
        font-size: 12px;
        padding: 0;
        line-height: 53px;
    }
    .product__title > h2 {
        font-size: 44px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0px;
        text-align: left;

    }
    .information > .wrapper{
        margin: 0 auto;
    }
    .information__body {
        margin-top: 50px;
    }
    .information__body-title {
        margin-bottom: 25px;
    }

    .information__menu-list .information__menu-button{
        font-size: 12px;
        padding-bottom: 10px;
    }
    .information__menu-list > .information__menu-item {
        margin-right: 45px;
    }

    .information__body-title{
        font-size: 14px;
    }
    .information__body-description > p{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .productivity__list > .productivity__list-item:before {
        top: 5px;
    }
    .productivity__list > .productivity__list-item, .regions__list > .productivity__regions-item{
        font-size: 12px;
    }
    footer {
        margin-top: 160px;
        padding-top: 42px;
    }
    .footer__info{
        margin-right: 105px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer__logo-link{
        width: 115px;
    }
    .footer__logo-link > img{
        display: block;
        width: 100%;
    }
    .footer__discription{
        width: 214px;
        text-align: justify;
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
    .footer__logo-link {
        margin-right: 30px;
    }
    .footer__mail-description{
        width: 188px;
        text-align: justify;
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
    .footer__mail-input {
        width: 182px !important;
        height: 44px;
        margin-left: 37px;
    }
    .footer__mail-field{
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
    }
    .information__mail-label{
        top: 12px;
    }
    .footer__mail-button {
        margin-left: 25px;
        min-width: 177px !important;
        height: 53px;
        line-height: 0;
    }
    .footer-bottom *, #developer{
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width:1199.98px) {
    :root {
        --wrpapper:936px
    }

    .information > .wrapper{
        margin-left: 0;
    }
    .header__wrapper{
        margin: 0;
    }
    .wrapper {
        min-width: var(--wrpapper);
        margin-left: 28px;
        margin-right: 34px;
    }
    .main__wrapper{
        width: var(--wrpapper);
    }

    .menu_active .wrap-body{
        display: block;
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }

    .header__logo{
        width: 123px;
        height: 32px;
        margin-right: 35px;
        margin-top: 14px;
        margin-bottom: 18px;
    }
    .header__logo > a {
        height: 32px;
    }
    .header__logo img{
        display: block;
        min-width: 123px;
        height: 32px;
    }
    .header__geo > img{
        display: block;
        width: 13px;
    }

    .header__city-title{
        font-size: 12px;
        margin-left: 10px;
    }

    .nav {
        margin-left: 67px;
    }
    .nav__list{
        margin-right: 67px;
    }
    .nav__item {
        display: block;
        list-style: none;
    }
    .nav__item-link {
        font-size: 10px;
        margin-right: 30px !important;
    }

    .header__phone{
        margin-right: 15px;
        min-width: 107px;
        font-size: 14px;
        white-space: nowrap;
    }
    .header__callback{
        min-width: 95px;
        color: #3A3A3A;
        margin-right: 0;
    }
    .callback__text{
        font-size: 12px;
        width: max-content;
        margin-right: 33px;
    }
    .header__cart{
        width: 20px;
        height: 20px;
    }
    .breadcrumbs{
        margin-top: 30px;
        margin-bottom: 112px;
    }
    .breadcrumbs__item:last-child{
        display: none;
    }

    .product {
        margin-bottom: 101px;
    }
    .product__price_old {
        font-size: 16px;
        margin-right: 32px;
    }
    .price {
        font-size: 20px;
    }
    .product__main-slide{
        width: 464px;
    }
    .product__main-slide > img{
        display: block;
        width: 100%;
    }
    .product__slides {
        margin-top: 25px;
    }
    .product__slide-mini {
        width: 98px;
    }
    .product__slider{
        margin-right: 41px;
        width: 464px;
        height: 423px;
    }
    .product__information{
        height: 100%;
    }
    .product__description {
        margin-top: 30px;
        color: #686868;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 23.8px */
        width: 464px;
    }
    .product__tags{
        margin-top: 30px;
    }
    .product__tags-title {
        font-size: 14px;
        margin-right: 10px;
    }
    .product__processing-method{
        display: none;
    }
    .unit{
        display: none;
    }
    .product__counter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 25px;
    }
    .product__prices {
        margin-top: 17px;
    }
    .product__price{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
    .product__price_old{
        font-size: 16px;
    }
    .product__submit{
        margin-top: 30px;
    }
    .product__quantity-block{
        width: 114px;
    }
    .btn{
        width: 177px;
        height: 53px;
        font-size: 12px;
        padding: 0;
        line-height: 53px;
    }
    .product__title > h2 {
        font-size: 44px;
    }
    .information__body {
        margin-top: 50px;
    }
    .information__body-title {
        margin-bottom: 25px;
    }

    .information__menu-list .information__menu-button{
        font-size: 12px;
        padding-bottom: 10px;
    }
    .information__menu-list > .information__menu-item {
        margin-right: 45px;
    }

    .information__body-title{
        font-size: 14px;
    }
    .information__body-description > p{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .productivity__list > .productivity__list-item:before {
        top: 5px;
    }
    .productivity__list > .productivity__list-item{
        font-size: 12px;
    }

    footer {
        margin-top: 160px;
        padding-top: 42px;
    }
    .footer__info{
        margin-right: 44px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer__logo-link{
        width: 115px;
    }
    .footer__logo-link > img{
        display: block;
        width: 100%;
    }
    .footer__discription{
        width: 168px;
        text-align: left;
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
    .footer__logo-link {
        margin-right: 30px;
    }
    .footer__mail-description{
        width: 169px;
        text-align: left;
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: .2px;
        line-height: 150%; /* 18px */
    }
    .footer__mail-field{
        padding-top: 0;
        padding-bottom: 0;
        height: 44px;
    }
    .information__mail-label{
        top: 12px;
    }

    .footer__mail-input {
        width: 182px !important;
        margin-left: 37px;
    }
    .footer__mail-button {
        margin-left: 25px;
        min-width: 177px !important;
        height: 53px;
        line-height: 0;
    }
    .footer__bottom > *{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
    :root {
        --wrpapper:596px
    }

    .wrapper {
        max-width: var(--wrpapper)
    }
    .header > .wrapper{
        width: 596px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header__logo{
        margin-top: 14px;
        margin-bottom: 18px;
    }
    .breadcrumbs{
        display: none;
    }
    .product{
        margin-top: 50px;
    }
    .header__logo > a{
        height: fit-content;
    }
    .header__logo img{
        display: block;
        width: 123px;
        min-width: 116px;
    }
    .header__callback{
        margin-right: 35px;
        border-bottom: 0;
    }
    .header__cart{
        margin-right: 35px;
    }

    .header__geo{
        display: none;
    }
    .callback__text{
        display: none;
    }
    .callback__icon {
        display: block;
    }
    .product{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product__title > h2{
        font-family: Oswald;
        font-size: 30px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;

    }
    .product__slider{
        width: 596px;
        height: 543px;
    }
    .product__slide-mini {
        width: 126px;
    }
    .product__main-slide > img{
        display: block;
        width: 100%;
    }
    .menu_active .wrap-body{
        display: block;
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }
    .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__burger-menu{
        display: block;
    }
    .nav {
        z-index: 10;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: fixed;
        background: white;
        top: 66px;
        right: calc(-1 * (100vw - 15px));
        width: calc(100vw - 15px);
        height: 100vh;
    }
    .nav__list{
        margin-top: 91px;
    }
    .nav > * {
        margin-left: 59px;
    }
    .nav__item {
        margin-bottom: 35px;
    }
    .nav__item:last-child{
        margin-bottom: 0px;
    }

    .wrapper__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header__right-side{
        z-index: 20;
    }

    .header__phone {
        margin-top: 50px;
        white-space: nowrap;
    }

    .information__menu-item{
        margin-right: 0;
    }
    .product__information{
        margin-top: 51px;
    }
    .product__description{
        width: 100%;
        margin-top: 30px;
        margin-right: 0;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }
    .product__description > br{
        display: none;
    }
    .product__tags{
        margin-top: 25px;
    }
    .product__processing-method{
        display: none;
    }
    .product__prices{
        margin-top: 25px;
    }
    .product__price_old{
        margin-right: 32px;
    }
    .unit{
        display: none;
    }
    .product__counter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 27px;
    }
    .information__menu-list > .information__menu-item{
        margin-right: 40px;
        white-space: nowrap;
    }
    .information__menu-list{
        overflow-y: hidden;
        overflow-x: auto;
    }
    .information__menu-list .information__menu-button{
        display: block;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
    }
    .product{
        margin-bottom: 78px;
    }

    .product__submit{
        width: 177px;
        height: 53px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 53px;
        white-space: nowrap;
        margin-top: 30px;
    }
    .product__quantity-block{
        width: 114px;
    }
    .information__body{
        margin-top: 30px;
    }
    .information__body-description{
        width: 100%;
    }
    .information__body-title{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;

    }
    .footer__info{
        width: 100%;
        margin-right: 0;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }
    .footer__top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__logo-link{
        width: 115px;
        margin-right: 104px;
    }
    .footer__logo-link > img{
        width: 100%;
    }
    .footer__mail{
        margin-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    .footer__discription{
        width: 296px;
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
    }
    .footer__mail-description{
        width: 291px;
        font-size: 12px;
        font-family: Roboto, serif;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

    }
    .footer__mail-input{
        margin-left: 0;
    }
    .footer__mail-field{
        line-height: 0;
        font-size: 12px;
    }
    .footer__mail-form{
        margin-top: 20px;
    }
    .footer__mail-input{
        width: 290px !important;

    }
    .footer__mail-button{
        min-width: 278px;
        margin-left: 28px;
    }
}

@media (min-width: 320px) and (max-width:767.98px) {
    :root {
        --wrpapper:290px;
    }

    .wrapper {
        max-width: var(--wrpapper);
    }

    .header > .wrapper{
        width: 596px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .wrapper__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header__logo{
        margin-top: 15px;
        margin-bottom: 19px;
        margin-right: 41px;
    }
    .breadcrumbs{
        display: none;
    }
    .product{
        margin-top: 40px;
    }
    .header__logo > a {
        height: inherit;
    }
    .header__logo img{
        display: block;
        min-width: 116px !important;
        width: 116px;
    }
    .header__callback{
        margin-right: 35px;
        border-bottom: 0;
    }
    .header__cart{
        margin-right: 35px;
    }

    .header__geo{
        display: none;
    }
    .callback__text{
        display: none;
    }
    .callback__icon {
        display: block;
    }
    .product{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product__title > h2{
        line-height: normal;
        font-size: 24px;
    }
    .product__slider{
        width: 290px;
        height: 265px;
    }
    .product__main-slide > img{
        display: block;
        width: 100%;
    }
    .product__slides{
        margin-top: 15px;
    }
    .product__slide-mini{
        width: 61px;
        height: 39px;
    }
    .menu_active{
        overflow: hidden;
    }
    .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__burger-menu{
        display: block;
    }
    .information__body-description > p:last-child{
        margin-top: 20px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
white-space: nowrap;
    }
    .nav {
        z-index: 10;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: fixed;
        background: white;
        top: 66px;
        right: calc(-1 * (100vw - 15px));
        width: calc(100vw - 15px);
        height: 100vh;
    }
    .nav__list{
        margin-top: 91px;
    }
    .information__menu-list{
        overflow-y: hidden;
        overflow-x: auto;
    }
    .nav > * {
        margin-left: 59px;
    }
    .nav__item {
        margin-bottom: 35px;
    }
    .nav__item:last-child{
        margin-bottom: 0px;
    }
    .header__right-side{
        z-index: 20;
    }
    .header__phone {
        letter-spacing: .45px;
        margin-top: 50px;
        white-space: nowrap;
    }

    .information__menu-item{
        margin-right: 0;
    }
    .product__tags-title{
        margin-bottom: 10px;
    }
    .product__information{
        margin-top: 51px;
    }
    .product__description{
        width: 100%;
        font-size: 14px;
        text-align: left;
        margin-top: 30px;
        margin-right: 0;
    }
    .product__tags{
        margin-top: 25px;
    }
    .product__processing-method{
        display: none;
    }
    .product__prices{
        margin-top: 25px;
    }
    .product__price{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
    .product__price_old{
        margin-right: 32px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
    .product{
        margin-bottom: 78px;
    }
    .unit{
        display: none;
    }
    .information__body-title{
        font-size: 14px;
    }
    .productivity__list > .productivity__list-item{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: .15px;
        text-align: left;

    }

    .productivity__list > .productivity__list-item:before, .regions__list > .productivity__regions-item:before{
        top: 2px;
    }
    .product__counter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 27px;
    }
    .information__menu-list > .information__menu-item{
        margin-right: 40px;
        white-space: nowrap;
    }
    .information__menu-list .information__menu-button{
        display: block;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
    }
    .product__submit{
        margin-top: 30px;
    }
    .product__quantity-block{
        width: 114px;
    }
    .information__body-description{
        width: 100%;
    }
    footer {
        margin-top: 110px;
    }
    .footer__info{
        width: 100%;
        margin-right: 0;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
    }
    .footer__top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__logo-link{
        width: 115px;
        margin-right: 104px;
        margin-bottom: 20px;
    }
    .footer__logo-link > img{
        width: 100%;
    }
    .footer__mail{
        margin-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    .footer__mail-button{
        width: 100%;
        margin-left: 0 !important;
    }
    .footer__discription{
        color: #686868;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        align-self: start;
        line-height: 150%; /* 18px */
        width: 290px;
    }
    .footer__mail-description{
        width: 291px;
        font-size: 12px;
    }
    .footer__mail-input{
        margin-left: 0;
    }
    .footer__mail-field{
        line-height: 0;
        font-size: 12px;
    }
    .footer__mail-form{
        margin-top: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__mail-input{
        width: 290px !important;

    }
    .footer__mail-button{
        min-width: 278px;
        margin-left: 28px;
        margin-top: 16px;
    }
    .footer__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__developer{
        margin-top: 10px;
    }
}